body {
  font-family: mukta, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bitter, serif;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
<<<<<<< HEAD
  display: grid;
}

.container {
  display: grid;
  color: blue;
  grid-template-columns: 1fr 1fr;
  grid: 1000px;
}
.pic-size {
  width: 600px;
  height: 400px;
=======
  display: flex grid;
}

p {
  margin-bottom: 80px;

  
>>>>>>> 6ac9f67a882cbb2c27a7c0e00d3fd6ff66041643
}

.info {
  text-align: center;
  text-transform: uppercase;
  font-family: Bitter, serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.info span {
  color: #e95400;
}

.headline {
  text-transform: uppercase;
  font-weight: 500;
  margin: 40px 0;
}

h2 {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.img {
padding-top: 100px;

}
